.fullBoard {
  position: relative;
  width: 100%;
  height: 100%;
  /* z-index: 99; */
}
.base {
  position: absolute;
  width: 40%;
  height: 40%;
}
.upRight {
  top: 0;
  right: 0;
}

.downLeft {
  bottom: 0;
  left: 0;
}
.downRight {
  bottom: 0;
  right: 0;
}
